@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* Header Styles */

.logo-img {
  width: 90px;
  display:inline-block;
}

.logo-text {
  font-family: 'Satisfy',cursive;
  color: #F37972; /* Base Orange */
  display: inline-block;
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* Hero Styles */

.hero {
  background-image: url('../img/hero.jpg');
  height: 500px;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
}

.white-text {
  color: #fff;
}

.hero .white-text {
  font-size: 2em;
}

/* Featured Section Styles */

.thumbnail {
  padding: 8px 12px;
  background-color: #EDF1F4; /*light grey*/
}

/* Services Section */
